*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}

body{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-image: url("https://st4.depositphotos.com/13324256/24732/i/450/depositphotos_247323600-stock-photo-dried-barren-soil-surface-global.jpg");
    
}

.Container{

    max-width: 500px;
    background:#8A2BE2;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.25);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;

}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 10px;
    min-height: 10vh;
}

.Temperature-icon{

    font-size: 50px;
    color:yellowgreen;
}

h1{
   letter-spacing:1.3px;
   font-size: 30px;
}

#celcius, #Fahrenheit, #Kelvin{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

input{

    flex:5;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border:none;
    outline:none;
    border-radius: 8px 0 0 8px;
    padding: 10px;
}

.icon{
    flex:1;
    height: 50px;
    line-height: 60px;
    padding: 0 5px;
    text-align: center;
    font-size: 30px;
    background: gold;
    border-radius: 0 8px 8px 0;
}

.button{

    margin-top: 30px;
    text-align: center;

}

.button button{
    border: none;
    outline: none;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 300;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}
.button button:hover{
    background:chartreuse;
    color:hotpink;
}